* {
  color: rgba(0, 0, 0, 0.85);
}

.btn-remove[disabled] {
  cursor: not-allowed;
  background-color: gray !important;
}

.output-dogrid {
  overflow-y: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
}

.output-placeholder {
  background: rgb(246, 246, 246);
  color: rgb(170, 170, 170);
  user-select: none;
}

input,
button {
  transition: background 0.25s;
}

button {
  user-select: none;
  color: white;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.75);
}

button * {
  color: white;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

input:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

input:focus {
  outline: none;
  background: #f6f6f6;
}

input:hover,
button:hover {
  transition: background 0s;
}

#btn-add {
  background: #1565c0;
}

#btn-add:hover {
  background: #1155a3;
}

#btn-add:active {
  background: #0e4686;
}

.btn-remove {
  background: #d32f2f;
}

.btn-remove:hover {
  background: #b52626;
}

.btn-remove:active {
  background: #951f1f;
}

#btn-submit {
  background: #2e7d32;
}

#btn-submit:hover {
  background: #276a2a;
}

#btn-submit:active {
  background: #205723;
}

#btn-copy {
  background: #00838f;
}

#btn-copy:hover {
  background: #006f79;
}

#btn-copy:active {
  background: #005b64;
}

.qr-child {
  display: flex;
  flex-direction: column;
  width: 184px;
  text-align: center;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.qr-child ::-moz-selection {
  background: none;
}

.qr-child ::selection {
  background: none;
}

.qr-child .qr-label {
  margin: 1rem 0;
}

.qr-child img {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  overflow: hidden;
}

.qr-child-cover:last-child .hidden {
  display: none;
}
